<div class="notification-page">
    <h1>Notifications</h1>
    <h2 class="notification-pf-name">@<%= profile %></h2>

    <div class="notifications">
       <!-- all notification -->
       <ul class="user-list">
        <% nData.forEach(function(notification) { %>
           <% if (notification.post) { %>
                <li class="user-card">

                    <form action="/notification/<%= notification.id %>/read" method="POST">
                    <input type="hidden" name="postId" value="<%= notification.post.id %>" />

                    <button type="submit" style="all: unset; width: 100%; display: block; cursor: pointer;">
                        
                        <p style="width: 100%;">
                        <%= notification.type[0].toUpperCase() + notification.type.slice(1).toLowerCase() %> Notification
                        </p>

                        <div class="users-data">
                        <div class="user-card-avatar">
                            <% if (notification.sender.avatar_url) { %>
                            <img src="<%= notification.sender.avatar_url %>" class="avatar-sm" />
                            <% } else { %>
                            <div class="avatar-sm avatar-placeholder">
                                <%= notification.sender.user_name.charAt(0).toUpperCase() %>
                            </div>
                            <% } %>
                        </div>

                        <div class="notification-msg">
                            <span class="user-card-name"><%= notification.sender.user_name %></span>
                            <% if (notification.message) { %>
                            <span class="user-card-bio"><%= notification.message %></span>
                            <% } %>
                        </div>
                        </div>

                    </button>
                    </form>

                </li>
            <% } else { %>
                    <li class="user-card">
                        <form action="/notification/<%= notification.id %>/read" method="POST">
                            <input type="hidden" name="profileId" value="<%= notification.sender.id %>" />

                            <button type="submit" style="all: unset; width: 100%; display: block; cursor: pointer;">
                                <p style="width: 100%;">Follow request</p>
                                <div class="users-data">
                                    <div class="user-card-avatar">
                                        <% if (notification.sender.avatar_url) { %>
                                            <img
                                                src="<%= notification.sender.avatar_url %>"
                                                alt="<%= notification.sender.user_name %>"
                                                class="avatar-sm"
                                            />
                                        <% } else { %>
                                            <div class="avatar-sm avatar-placeholder">
                                            <%= notification.sender.user_name.charAt(0).toUpperCase() %>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="notification-msg">
                                        <span class="user-card-name"><%= notification.sender.user_name %></span>
                                        <% if (notification.message) { %>
                                            <span class="user-card-bio"><%= notification.message %></span>
                                        <% } %>
                                    </div>

                                </div>
                            </button>
                        </form>
                    </li>
            <% } %>


        <% }) %>
      </ul>
    </div>
</div>